$title-text-color-lg: #fff;
$title-text-color: rgba(77, 79, 92, 1);

.post__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $title-text-color;
    font-size: 1.750rem;
}

.post_size_l .post__title {
    color: $title-text-color-lg;
    font-size: 2.688rem;
    line-height: 3.563rem;
    z-index: 1;
}


@media screen and (max-width: 1000px) {
    .post_size_l .post__title {
        font-size: 2.3rem;
        line-height: 3.5rem;

    }
}

@media screen and (max-width: 637px) {
    .post_size_l .post__title {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}