
mixin slider__slider-view(url, title, tag, user, date, comment_count, views)
    .slider__slider-view(style="background-image: url(" + url  + ")")
        +post('l', url, title, tag, user, date, comment_count, views)
