$link-color: rgba(145, 145, 146, 1);

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: $link-color;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    border-top: 6px solid transparent;
}

.main-nav__nav__nav-link {
    padding: 26px 18px 40px 21px;
    display: inline-block;
}

@import '../nav-link/nav-link_active';
@import '../nav-link/nav-link_hover';