@import '../nav-link/nav-link';

$nav-height: 5.125rem;

.page__main-nav {
    height: $nav-height;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}