<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="css/main.css")
        title Blog Template
    body.page
        .page__main-nav.main-nav
            a(href="#")
                img.logo(src="../media/logo.svg" alt="Blog logotype")
            .main-nav__nav
                a.nav-link.main-nav__nav__nav-link.nav-link_active(href="#") Home
                a.nav-link.main-nav__nav__nav-link(href="#") Life Style
                a.nav-link.main-nav__nav__nav-link(href="#") Travel
                a.nav-link.main-nav__nav__nav-link(href="#") Fashion
                a.nav-link.main-nav__nav__nav-link(href="#") Gallery
                a.nav-link.main-nav__nav__nav-link(href="#") Contact
                a.nav-link.main-nav__nav__nav-link(href="#") ...

            .main-nav__controls
                a.nav-link.main-nav__nav__nav-link(href="#") Login
                a.nav-link.main-nav__nav__nav-link(href="#") Register
                a.nav-link.main-nav__nav__nav-link(href="#") Search
                a.nav-link.main-nav__nav__nav-link(href="#") En
        
    